.change-password-page{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    #changePwForm{
        box-shadow: 10px 11px 31px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 11px 31px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 31px -7px rgba(0,0,0,0.75);
    }
}